.box {
    border: 4px solid black;
    padding: 10px;
    width: 40%;
    background: white;
  }
.box2{
    border: 4px solid black;
    padding: 10px;
    width: 60%;
    background: white;
}
.box3  {
    border: 4px solid black;
    padding: 25px;
    width: 20%;
    background: white;
}
